/* nav

















*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*, 
*:before, 
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html{
  overflow-y: scroll;
  overflow-x: hidden; 
}

body {
	background-color: #ebebeb;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color: hsl(0, 0%, 20%);
}

/* nav */
.container {
  width: 100%;
  min-width: 740px;
  margin: 0 ;
}


nav {
	width: 100%;
	margin: 0 auto;
}

/* Logo */

.logo_area {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -90px;
  text-align: center;
}

.logo_area .logo_img {
  width: 100%;
  height: 100%;
}

/* Header */

header {
	background-color: transparent;
	float: left;
	width: 100%;
	position: fixed;
	z-index: 10;
}

header a {
	color: black;
	text-decoration: none;
	font-family: 'Amaranth', sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
}

header a.active, header a:hover {
	color: #3d3d3d;
}

header ul {
	margin-left: 20px;
	margin-right: 20px;
}

header .inner ul {margin: 0 auto; padding: 0; text-align: right; list-style: none;}
header .inner li{float: none; display: inline-block; padding: 13px;}
header .inner li:nth-child(1){float: left;}
header .inner li:nth-child(2){float: left;}
header .inner li:nth-child(3){float: left;}


/* header large */
header.large {
	height: 200px;
}
header.large img {
  margin-top: 10px;
}
header.large li {
	margin-top: 84px;
}
/* header small */

header.small {
	height: 100px;
  background-color: rgb(230, 230, 230);
	border-bottom: 1px solid #aaa;
}
header.small img {
  margin-top: 5px;
}
header.small li {
	margin-top: 30px;
}

header.small .logo_area {
  width: 90px;
  height: 90px;
  margin-left: -45px;
}


/* nav-toggler css start */

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.92);
  overflow-x: hidden;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.54, 1.47);
}

.overlay-content {
  display: flex;
  flex-direction: column;
justify-content: space-evenly;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  font-size:30px;
}

.button-area {
  display: none;
  position: absolute;
  right: 5%;
  top: 30%;
  content: "";
  text-align: center;
}
.button-area button{
  border:none;
  background-color: transparent;
  font-size:30px;
}


/* Transitions navbar*/
header,
.logo_area,
li{
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}


@media only screen and (min-width: 200px) and (max-width: 767px) { 
    .inner{
      display: none;
    }
    .button-area{
      display: block;
    }
    header.large {
      height: 100px;
      background-color: transparent;
    }
    header.large img {
      margin-top: 5px;
    }
    header.large li {
      margin-top: 30px;
    }

    header.large .logo_area {
      width: 90px;
      height: 90px;
      margin-left: -45px;
    }
    header.small {
      background-color: rgb(230, 230, 230);
    }
    header.large,
    header.small{
      transition: .7s all ease-in;
      -moz-transition: .7s all;
      -webkit-transition: .7s all;
      -o-transition: .7s all;
    }
}

/* footer */
footer{
  background-color: #cccccc;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer-title{
  padding-top: 20px;
}
.footer-contact{
  padding-top: 20px;
}
.footer-insta{
  padding-top: 20px;
}
.gallery{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  padding-top: 20px;
}
.gallery-img{
  display: flex;
}
.gallery-img img{
  padding: 5px;
}
.footer-name{
  padding-top: 35px;
  padding-bottom: 35px;
}

@media only screen and (min-width: 200px) and (max-width: 567px){
  .gallery{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px;
  }
  .row{
    flex-direction: column;
  }
  .footer-title{
    padding-top: 5px;
  }
  .footer-contact{
    padding-top: 5px;
  }
  .footer-insta{
    padding-top: 5px;
  }
  .footer-name{
    padding-top: 0px;
    padding-bottom: 35px;
  }
}


/* home page About Section */
.row{
  display: flex;
  padding: 20px;
  margin-top: 30px;
}
p{
  font-size: 20px;
  word-wrap: break-word;
}
.col-6{
	width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.parent{
	height: 100%;
	display: -webkit-flex;
  display: -ms-flexbox;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-visible{
  display: none;
}

@media only screen and (min-width: 200px) and (max-width: 767px) { 
  .row{
    flex-direction: column;
    margin-top: 0px;
  }
  .col-6{
    width: 100%
  }
  .visible{
  display: none;
  }
  .mobile-visible{
    display: block;
  }
  p{
    font-size: 16px;
  }
}


/* home page Parallax */
.parallax-effect-home {
  background-image: url('../images/homepage/parallax.png');
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* About Page */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

#about-parallax {
    background-image: url(../images/about.png);
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-repeat: none;
    transform-origin:bottom;
}
.team-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.team-container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-container .card .content {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
  transition-delay: 0.65s;
}
.team-container .card:hover .content {
  bottom: 0;
  transition-delay: 0s;
}
.team-container .card .content .contentBx h3 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px);
}
.team-container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
}
.team-container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.team-container .card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.team-container .card .content .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}

.team-container .card:hover .content .sci li {
  transform: translateY(0);
  opacity: 1;
}
.team-container .card .content .sci li a {
  color: white;
  font-size: 24px;
}


/* Portfolio Page */

#portfolio-parallax {
    background-image: url(../images/portfolio.png);
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-repeat: none;
    transform-origin:bottom;
}
/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

.portfolio-container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer portfolio flex items */
	margin: -1rem -1rem;
}

.portfolio-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.portfolio-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.portfolio-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.portfolio {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.portfolio,
	.portfolio-item {
		margin: 0;
	}
}


/* Films Page */

#films-parallax {
    background-image: url(../images/films.png);
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-repeat: none;
    transform-origin:bottom;
}

 /* Layout for this demo */
.wrap{
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 100px auto;
}

 /* The outer-div to move the elements */
.box-text,
.box-video{
  position: relative;
  max-width: 900px;
  margin:0 auto 20px auto;
  cursor: pointer;
  overflow: hidden;
}

 /* Set Cover aka Background-Image */
.box-video .bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

 /* Add light shade to make play button visible*/
.bg-video::after{ 
	content:'';
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0,0,0,0.1);
  	z-index: 3;
  	}


/* The Play-Button using CSS-Only */
.box-video .bt-play {
  position: absolute;
  top:50%;
  left:50%;
  margin:-30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index:2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* The Play-Triangle */
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.box-video:hover .bt-play {
  transform: scale(1.1);
}

/* When Class added the Cover gets hidden... */
.box-video.open .bg-video{
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;  
}

/* and iframe shows up */
.box-video.open .video-container{
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}

/* Giving the div ratio of 16:9 with padding */
.video-container {
	position: relative;
	width: 100%;
	height: 0;
  margin: 0;
  z-index: 1;
	padding-bottom: 56.27198%;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Blogs Page */

#blogs-parallax {
    background-image: url(../images/blogs.png);
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-repeat: none;
    transform-origin:bottom;
}

.blogs-container{
  max-width: 70rem;
  margin: 5rem auto;
  padding: 0 2rem 2rem;
}
.color{
  background-color: #c8a63d;
  border: none;
}
.color:hover{
  background-color: #5a5a5a;
}

/* Contact Page */

#contact-parallax {
    background-image: url(../images/contact.png);
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-repeat: none;
    transform-origin:bottom;
}


.contact-container {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 2rem 2rem;
}
input[type=text], 
input[type=email], 
input[type=phone],
select, 
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #c8a63d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5a5a5a;
}
